/* Calendar CSS File for MESD Calendar Bundle */

/* ##### CALENDAR WIDGET ##### */

/* This is the overall widget that contains everything */
.calendar-widget {
    width: 75em; /* 530px */
    min-height: 70em; /* 560px */
    margin: 0 auto;
    position: relative;
    border-radius: 10px 10px 0 0;
    border-spacing: 0;
    border: 1px solid rgb(20, 20, 20);
    background-image: linear-gradient(rgb(70,70,70), rgb(49,49,49) 50%);
}

/* The Month View */
.calendar-month {

}

/* The Week View */
.calendar-week {

}

/* The Day View */
.calendar-single-day {

}

/* This is the div that holds the buttons and date */
.calendar-control-bar {
    margin: 0 auto;
    position: relative;
    text-align: center;
    vertical-align: center;
    height: 5em;
    color: silver;
}

/* Button groups, one for scope and one for range */
.calendar-button-group {
    width: 33%;
    padding-top: 2%;
    float:left;
}

/* Buttons for month/week/day and forward/backwards in time */
.calendar-button, .calendar-button-disabled {
    color: silver;
    background-color: rgb(87, 87, 87);
    background-image: linear-gradient(rgb(107,107,107), rgb(87,87,87));
    border: 1px rgb(68, 68, 68);
    text-shadow: 0 0 0;
}

.calendar-button-disabled {
    cursor: default;
    background-image: none;
    color: silver;
    background-color: rgb(37, 37, 37);
}

.calendar-button-disabled:hover {
    cursor: default;
    background-image: none;
    color: silver;
    background-color: rgb(37, 37, 37);
}

.calendar-button:hover {
    background-color: rgb(106,154,12);
    background-image: linear-gradient(rgb(58,84,6), rgb(106,154,12));
}

/* Text for the current time period */
.calendar-date {
    font-size: 300%;
    font-weight: 700;
}

/* Middle section div for the calendar-date text */
.calendar-date-display {
    width: 33%;
    float: left;
}

/* The container that holds the acutal calendar display under the controls */
.calendar-display {

}

/* ##### MONTH ##### */

/* container for the month calendar */
.calendar-month {
    
    margin: 0 auto;
    position: relative;
}

/* table that holds the days of the week and individual days */
.calendar-month-layout {
    
}

/* table that holds just a single day */
.calendar-day-layout {
    min-width: 100%;
}

/* table that holds a week */
.calendar-week-layout {

}

/* table row for a week grouping of days */
.calendar-days {

}

/* header on the month view that has the days of the week */
.calendar-days-header {
    background-color: rgb(97, 97, 97);
    background-image: linear-gradient(rgb(97, 97, 97), rgb(68, 68, 68));
    border-top: 1px solid rgb(119, 119, 119);
    border-bottom: 1px solid rgb(20, 20, 20);
    color: silver;
    font-size: 110%;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}

.calendar-days-header th {
    line-height: 1.5;
    width: 12.5%;
    height: 2em;
}

.calendar-day, .calendar-today, .calendar-day-week, .calendar-today-week, 
.calendar-day-single, .calendar-today-single {
    vertical-align: top;
    z-index: -1;
    font-weight: 400;
    text-shadow: 0 -1px 0 rgba(0,0,0,1.0);
    border-top: 1px solid rgb(20,20,20);
    border-left: 1px solid rgb(20,20,20);
    box-shadow: 0 1px 0 rgba(255,255,255,0.15) inset, 1px 0 0 rgba(255,255,255,0.15) inset;
}

.calendar-day, .calendar-today {
    width: 10em;
    height: 10em;
}

.calendar-day-week, .calendar-today-week {
    width: 10em;
    height: 60em;
}

.calendar-day-single, .calendar-today-single {
    height: 60em;
}

.calendar-day, .calendar-day-week, .calendar-day-single {
    background-image: linear-gradient(rgb(67,67,67), rgb(47,47,47));
    color: rgb(133,133,133);
}

.calendar-today, .calendar-today-week, .calendar-today-single {
    color: rgb(200,200,200);
    background-image: linear-gradient(rgb(58,84,6), rgb(106,154,12));
}

.calendar-month-othermonth-day {
    width: 10em;
    height: 10em;
    vertical-align: top;
    z-index: -1;
    background-image: linear-gradient(rgb(37,37,37), rgb(26,26,26));
    color: rgb(78,78,78);
    box-shadow: 0 1px 0 rgba(255,255,255,0.05) inset, 1px 0 0 rgba(255,255,255,0.05) inset;
}

.calendar-day:hover,
.calendar-day:focus {
    background-image: linear-gradient(rgb(107,107,107), rgb(87,87,87));
    color: rgb(200,200,200);
}
.calendar-multiday-bar {
    border-top: 2px solid rgb(26,26,26);
}

.calendar-multiday-event-container {
    
}

.calendar-day-date {
    text-align: left;
    vertical-align: top;
    font-size: 200%;
    z-index: 0;
}

.calendar-single-event-container {
    margin: 1px;
    margin-top: 6px;
    overflow: hidden;
}

.calendar-single-event, .calendar-multiday-event {
    z-index: 1;
    text-align: center;
}

.calendar-single-event {
    
}

.calendar-multiday-event, .calendar-multiday-event-week {
    position: relative;
    overflow: hidden;
}

.calendar-multiday-event {
    max-height: 2em;
}

.calendar-multiday-event-week {
    max-height: 4em;
}

.calendar-message-box, .calendar-message-box-defaultcolor {
    text-shadow: 0 0px 0 rgba(0,0,0,1.0);
}

.calendar-message-box-defaultcolor {
    color: rgb(200,200,200);
    background-color: rgb(106,154,12);
}

/* Media Queries To Make the Calendar Responsive

/* Phone */
@media only screen and (min-width: 5em) {
    .calendar-widget {
        width: 25em;
        min-height: 20em;
    }

    .calendar-month-othermonth-day, .calendar-day, .calendar-today {
        width: 4em;
        height: 5em;
    }

    .calendar-days-header {
        font-size: 60%;
    }

    .calendar-days-header th {
        line-height: 1.5;
        height: 1.5em;
    }

    .calendar-multiday-event {
        max-height: 1.5em;
    }

    .calendar-date {
        font-size: 100%;
        font-weight: 300;
    }

    .calendar-control-bar {
        height: 4em;
    }

    .calendar-button-group {
        width: 50%;
        padding-top: 0%;
        float: center;
        z-index: 1;
    }

    .calendar-day-week, .calendar-today-week {
        width: 4em;
        height: 17em;
    }

    .calendar-day-single, .calendar-today-single {
        height: 17em;
    }
}

/* Phone Large */
@media only screen and (min-width: 26em) {
    .calendar-widget {
        width: 32em;
        min-height: 30em;
    }

    .calendar-month-othermonth-day, .calendar-day, .calendar-today {
        width: 6em;
        height: 6em;
    }

    .calendar-days-header {
        font-size: 80%;
    }

    .calendar-days-header th {
        line-height: 1.5;
        height: 1.5em;
    }

    .calendar-multiday-event {
        max-height: 1.5em;
    }

    .calendar-date {
        font-size: 150%;
        font-weight: 400;
    }

    .calendar-control-bar {
        height: 3em;
    }

    .calendar-button-group {
        width: 50%;
        padding-top: 0%;
        float: center;
    }

    .calendar-day-week, .calendar-today-week {
        width: 6em;
        height: 25em;
    }

    .calendar-day-single, .calendar-today-single {
        height: 25em;
    }
}

/* Tablet */
@media only screen and (min-width: 38em) {
    .calendar-widget {
        width: 48em;
        min-height: 45em;
    }

    .calendar-month-othermonth-day, .calendar-day, .calendar-today {
        width: 8em;
        height: 7em;
    }

    .calendar-days-header {
        font-size: 100%;
    }

    .calendar-days-header th {
        line-height: 1.5;
        height: 1.5em;
    }

    .calendar-multiday-event {
        max-height: 1.5em;
    }

    .calendar-date {
        font-size: 150%;
        font-weight: 500;
    }

    .calendar-control-bar {
        height: 4em;
    }

    .calendar-button-group {
        width: 33%;
        padding-top: 2%;
        float:left;
    }

    .calendar-day-week, .calendar-today-week {
        width: 8em;
        height: 35em;
    }

    .calendar-day-single, .calendar-today-single {
        height: 35em;
    }
}

/* Desktop */
@media only screen and (min-width: 60em) {
    .calendar-widget {
        width: 75em;
        min-height: 70em;
    }

    .calendar-month-othermonth-day, .calendar-day, .calendar-today {
        width: 10em;
        height: 10em;
    }

    .calendar-days-header {
        font-size: 110%;
    }

    .calendar-days-header th {
        line-height: 1.5;
        height: 2em;
    }

    .calendar-multiday-event {
        max-height: 2em;
    }

    .calendar-date {
        font-size: 300%;
        font-weight: 700;
    }

    .calendar-control-bar {
        height: 5em;
    }

    .calendar-button-group {
        width: 33%;
        padding-top: 2%;
        float:left;
    }

    .calendar-day-week, .calendar-today-week {
        width: 10em;
        height: 60em;
    }

    .calendar-day-single, .calendar-today-single {
        height: 60em;
    }
}

/* Desktop Large */
@media only screen and (min-width: 85em) {
    .calendar-widget {
        width: 91em;
        min-height: 84em;
    }

    .calendar-month-othermonth-day, .calendar-day, .calendar-today {
        width: 12em;
        height: 12em;
    }

    .calendar-days-header {
        font-size: 130%;
    }

    .calendar-days-header th {
        height: 2.5em;
    }

    .calendar-multiday-event {
        max-height: 2.5em;
    }

    .calendar-date {
        font-size: 400%;
        font-weight: 900;
    }

    .calendar-control-bar {
        height: 6em;
    }

    .calendar-button-group {
        width: 33%;
        padding-top: 2%;
        float:left;
    }

    .calendar-day-week, .calendar-today-week {
        width: 12em;
        height: 72em;
    }

    .calendar-day-single, .calendar-today-single {
        height: 72em;
    }
}

/* Desktop Xtra-Large */
@media only screen and (min-width: 120em) {
    .calendar-widget {
        width: 120em;
        min-height: 112em;
    }

    .calendar-month-othermonth-day, .calendar-day, .calendar-today {
        width: 15em;
        height: 15em;
    }

    .calendar-days-header {
        font-size: 160%;
    }

    .calendar-days-header th {
        line-height: 1.5;
        height: 3em;
    }

    .calendar-multiday-event {
        max-height: 3em;
    }

    .calendar-date {
        font-size: 500%;
        font-weight: 1100;
    }

    .calendar-control-bar {
        height: 7em;
    }

    .calendar-button-group {
        width: 33%;
        padding-top: 2%;
        float:left;
    }

    .calendar-day-week, .calendar-today-week {
        width: 15em;
        height: 100em;
    }

    .calendar-day-single, .calendar-today-single {
        height: 100em;
    }
}